# Laravel
/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Vite
node_modules/.vite/

# Public user ini
/public/.user.ini

# OS
.DS_Store
Thumbs.db

# История и черновики
cursor_file_path_organization_discussio.md
начало.txt

# Верификационные файлы (добавляются только в продакшен)
google*.html
yandex*.html

